<form [formGroup]="gameForm" (ngSubmit)="onSaveGame()" class="text-white">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text"
           id="name"
           formControlName="name"
           class="form-control"
           required>

  </div>

  <div class="form-group">
    <label for="author">Auteur</label>
    <input type="text"
           id="author"
           formControlName="author"
           class="form-control"
           required>

  </div>

  <div class="form-group">
    <label for="price">Prix de vente</label>
    <input type="number"
           id="price"
           formControlName="price"
           class="form-control"
           required>

  </div>

  <div class="form-group">
    <label for="synopsis">Synopsis</label>
    <textarea type="text"
           id="synopsis"
           formControlName="synopsis"
           class="form-control">
    </textarea>
  </div>

  <div class="form-group">
    <h3>Ajouter une image</h3>
    <input type="file" (change)="detectFile($event)" class="form-control" accept="image/*">
    <p class="text-success" *ngIf="fileUploaded">Le fichier est chargé.</p>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="gameForm.invalid || fileIsUploading">Enregistrer</button>

</form>
